{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'css/base.css' %}"
    />
    {% block styles %}
    <style>
      .navbar-custom {
        background-color: rgb(157, 186, 226);
      }
    </style>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <a class="navbar-brand" href="{% url 'vitrine' %}">
        <box-icon name="cart"></box-icon>Commerce Electronique
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Catalogue</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'produit' %}">Produit</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'fournisseur' %}">Fournisseur</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'manage_commande' %}"
              >Nouvelle Commande</a
            >
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="#">{{ user }}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'login' %}">Connexion</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'register' %}">Inscription</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">{% block content %}{% endblock %}</div>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha384-tsH3eUqiG9o6BEce5rwvw6X9FZSxEqilG9o6I3y4lC3llC0aV7pIo6HOdYD8F6Ls"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
