{% extends 'magasin/base.html' %} {% load static %} {% block content %}
<div class="container" style="overflow: scroll; border: #000000 1px solid">
  <table>
    <tr>
      {% for article in list %}
      <td>
        {% if article.Img %}
        <!-- Assuming Img is the ImageField -->
        <img
          src="{{ article.Img.url }}"
          class="rounded float-start"
          alt="{{ article.libelle }}"
          height="200px"
          width="200px"
        />
        {% endif %}
        <figcaption class="figure-caption">{{ article.libelle }}</figcaption>
        <p>{{ article.prix }} DT.</p>
      </td>
      {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}
